<!DOCTYPE html>

<title>Fidelite index</title>

{% block body %}
    <h1>Fidelite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdFidelite</th>
                <th>TotalAchat</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fidelite in fidelites %}
            <tr>
                <td>{{ fidelite.idFidelite }}</td>
                <td>{{ fidelite.totalAchat }}</td>
                <td>{{ fidelite.type }}</td>
                <td>
                    <a href="{{ path('app_fidelite_show', {'idFidelite': fidelite.idFidelite}) }}">show</a>
                    <a href="{{ path('app_fidelite_edit', {'idFidelite': fidelite.idFidelite}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fidelite_new') }}">Create new</a>
{% endblock %}
