{% extends 'baseBack.html.twig' %}

{% block title %}Détails fidelite
{% endblock %}

{% block body %}
   <a href="{{ path('app_offre_index') }}">
		<i class="fas fa-arrow-left"></i>
	</a>
    	<div class="d-flex justify-content-between w-100 flex-wrap">
		<div class="mb-3 mb-lg-0">
			<h1>
				<span class="sidebar-icon">

					<img src="{{asset('Back/img/icons/user.png')}}" class="icon icon-s me-2" fill="currentColor" viewbox="0 0 20 20" class="card-img-top rounded-circle border-white" alt="Logout">

				</span>fidelite : {{ fidelite.idFidelite }}</h1>

		</div>
	</div>
    <table class="table">
        <tbody>
            <tr>
                <th>IdFidelite</th>
                <td>{{ fidelite.idFidelite }}</td>
            </tr>
            <tr>
                <th>TotalAchat</th>
                <td>{{ fidelite.totalAchat }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fidelite.type }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
		<div class="col-md-2">
			<a href="{{path('app_fidelite_edit', {'idFidelite': fidelite.idFidelite}) }}" class="btn btn-warning d-inline-flex align-items-center">
				<i class="fas fa-edit" style="padding-right:3px"></i>Modifier</a>
		</div>
		<div class="col-md-2">
			{{ include('fidelite/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
 