<!DOCTYPE html>
<html lang="en">

	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Primary Meta Tags -->
		<title>Maktabti - Se connecter
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="title" content="Maktabti Dashboard">
		<meta name="author" content="GenesisTeam">
		<link
		rel="stylesheet" href="{{ asset('Back/css/dark-mode.css') }}" media="(prefers-color-scheme: dark)">


		<!-- Favicon -->

		<link
		rel="icon" type="image/png" sizes="32x32" href="{{asset('Back/img/brand/logo-maktabti.png')}}">


		<!-- Sweet Alert -->
		<link
		type="text/css" href="{{asset('Back/librairies/sweetalert2/dist/sweetalert2.min.css')}}" rel="stylesheet">

		<!-- Notyf -->
		<link
		type="text/css" href="{{asset('Back/librairies/notyf/notyf.min.css')}}" rel="stylesheet">

		<!-- Volt CSS -->
		<link
		type="text/css" href="{{asset('Back/css/volt.css')}}" rel="stylesheet">

		<!-- font awsome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

	</head>

	{% block body %}
		<main>

			<!-- Section -->
			<section>
				<div class="container">
					<br>
					<p class="text-center">
						<a href="{{path('index')}}" class="d-flex align-items-center justify-content-center">
							<svg class="icon icon-xs me-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
							</svg>
							Retour à la page d'acceuil
						</a>
					</p>
					<div class="row justify-content-center form-bg-image" data-background-lg="{{asset('Back/img/illustrations/signin.svg')}}">
						<div class="col-12 d-flex align-items-center justify-content-center">
							<div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
								<div class="text-md-center mb-4 mt-md-0 justify-content-center d-flex">
									<h1 class="mb-0 h3">
										Se connecter
									</h1>
								</div>
								<br>
								<form method="post">
									{% if error %}
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}

									{% if app.user %}
										<div class="mb-3">
											You are logged in as
											{{ app.user.userIdentifier }},
											<a href="{{ path('app_logout') }}">Logout</a>
										</div>
									{% endif %}

								

									<div class="input-group mb-4">
										<span class="input-group-text">
											<svg class="icon icon-xs text-gray-600" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
												<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
											</svg>
										</span>
										<input type="email" value="{{ last_username }}" name="email" placeholder="votre Email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
									</div>
									<div class="input-group mb-4">
										<span class="input-group-text" id="basic-addon2">
											<svg class="icon icon-xs text-gray-600" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
											</svg>
										</span>
										<input type="password" name="password" id="inputPassword" placeholder="Votre mot de passe" class="form-control" autocomplete="current-password" required>
									</div>
									<input
									type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

									{#
																																																        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																        See https://symfony.com/doc/current/security/remember_me.html
																																																
																																																        <div class="checkbox mb-3">
																																																            <label>
																																																                <input type="checkbox" name="_remember_me"> Remember me
																																																            </label>
																																																        </div>
																																																    #}

									<button type="submit" class="btn btn-primary float-end" style="background-color:#00377E;">Se connecter</button>
								</form>
								<br><br>
								<div class="d-flex justify-content-center align-items-center mt-4">
									<span class="fw-normal">
										Vous n'avez pas de compte ?
										<a href="{{path('app_register')}}" class="fw-bold">Créer un compte</a>
									</span>
								</div>
                                <br>
								<!-- Footer-->
								<footer class="text-center">
									<div class="container">
										<div class="row">
											<div class="col-md-12">
												<p> &copy; 2023
													<img src="{{asset('Front/images/logo/maktabti.png')}}" height="30" width="60">

													| made with
													<i class="fas fa-heart text-danger"></i>
													by GenesisTeam<img src="{{asset('Front/images/logo/logo-genesis.png')}}" height="30" width="30"></p>
											</div>
										</div>
									</div>

								</footer>
								<!-- End Footer-->

							</div>

						</div>

					</div>
				</div>
			</div>
		</section><br></html>
</main>

<script src="{{asset('Back/librairies/@popperjs/core/dist/umd/popper.min.js')}}"></script>
<script src="{{asset('Back/librairies/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- Vendor JS -->
<script src="{{asset('Back/librairies/onscreen/dist/on-screen.umd.min.js')}}"></script>
<!-- Slider -->
<script src="{{asset('Back/librairies/nouislider/distribute/nouislider.min.js')}}"></script>
<!-- Smooth scroll -->
<script src="{{asset('Back/librairies/smooth-scroll/dist/smooth-scroll.polyfills.min.js')}}"></script>
<!-- Charts -->
<script src="{{asset('Back/librairies/chartist/dist/chartist.min.js')}}"></script>
<script src="{{asset('Back/librairies/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js')}}"></script>
<!-- Datepicker -->
<script src="{{asset('Back/librairies/vanillajs-datepicker/dist/js/datepicker.min.js')}}"></script>
<!-- Sweet Alerts 2 -->
<script src="{{asset('Back/librairies/sweetalert2/dist/sweetalert2.all.min.js')}}"></script>
<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<!-- Vanilla JS Datepicker -->
<script src="{{asset('Back/librairies/vanillajs-datepicker/dist/js/datepicker.min.js')}}"></script>
<!-- Notyf -->
<script src="{{asset('Back/librairies/notyf/notyf.min.js')}}"></script>
<!-- Simplebar -->
<script src="{{asset('Back/librairies/simplebar/dist/simplebar.min.js')}}"></script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Volt JS -->
<script src="{{asset('Back/js/volt.js')}}"></script>{% endblock %}</html>
