<!DOCTYPE html>
<html lang="en">

	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Primary Meta Tags -->
		<title>Maktabti - Créer Un Compte
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="title" content="Maktabti Dashboard">
		<meta name="author" content="GenesisTeam">
		<link
		rel="stylesheet" href="{{ asset('Back/css/dark-mode.css') }}" media="(prefers-color-scheme: dark)">


		<!-- Favicon -->

		<link
		rel="icon" type="image/png" sizes="32x32" href="{{asset('Back/img/brand/logo-maktabti.png')}}">


		<!-- Sweet Alert -->
		<link
		type="text/css" href="{{asset('Back/librairies/sweetalert2/dist/sweetalert2.min.css')}}" rel="stylesheet">

		<!-- Notyf -->
		<link
		type="text/css" href="{{asset('Back/librairies/notyf/notyf.min.css')}}" rel="stylesheet">

		<!-- Volt CSS -->
		<link
		type="text/css" href="{{asset('Back/css/volt.css')}}" rel="stylesheet">

		<!-- font awsome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

	</head>

{% block body %}
        <main>

        <!-- Section -->
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <p class="text-center">
                    <a href="{{path('app_login')}}" class="d-flex align-items-center justify-content-center">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                        Back to log in
                        </a>
                    </p>
                    {{ form_start(passForm) }}
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                            <h1  style="text-align:center;color:black" class="h3 mb-4">Reset password</h1>
                            {{ form_row(passForm.password) }}

                            <button type="submit" class="btn btn-gray-800">Reset password</button>
                            {{ form_end(passForm) }}


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    	<script src="{{asset('Back/librairies/@popperjs/core/dist/umd/popper.min.js')}}"></script>
		<script src="{{asset('Back/librairies/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		<!-- Vendor JS -->
		<script src="{{asset('Back/librairies/onscreen/dist/on-screen.umd.min.js')}}"></script>
		<!-- Slider -->
		<script src="{{asset('Back/librairies/nouislider/distribute/nouislider.min.js')}}"></script>
		<!-- Smooth scroll -->
		<script src="{{asset('Back/librairies/smooth-scroll/dist/smooth-scroll.polyfills.min.js')}}"></script>
		<!-- Charts -->
		<script src="{{asset('Back/librairies/chartist/dist/chartist.min.js')}}"></script>
		<script src="{{asset('Back/librairies/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js')}}"></script>
		<!-- Datepicker -->
		<script src="{{asset('Back/librairies/vanillajs-datepicker/dist/js/datepicker.min.js')}}"></script>
		<!-- Sweet Alerts 2 -->
		<script src="{{asset('Back/librairies/sweetalert2/dist/sweetalert2.all.min.js')}}"></script>
		<!-- Moment JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
		<!-- Vanilla JS Datepicker -->
		<script src="{{asset('Back/librairies/vanillajs-datepicker/dist/js/datepicker.min.js')}}"></script>
		<!-- Notyf -->
		<script src="{{asset('Back/librairies/notyf/notyf.min.js')}}"></script>
		<!-- Simplebar -->
		<script src="{{asset('Back/librairies/simplebar/dist/simplebar.min.js')}}"></script>
		<!-- Github buttons -->
		<script async defer src="https://buttons.github.io/buttons.js"></script>
		<!-- Volt JS -->
		<script src="{{asset('Back/js/volt.js')}}"></script>
{% endblock %}
