<!DOCTYPE html>
<html lang="en">

	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Primary Meta Tags -->
		<title>Maktabti - Créer Un Compte
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="title" content="Maktabti Dashboard">
		<meta name="author" content="GenesisTeam">
		<link
		rel="stylesheet" href="{{ asset('Back/css/dark-mode.css') }}" media="(prefers-color-scheme: dark)">


		<!-- Favicon -->

		<link
		rel="icon" type="image/png" sizes="32x32" href="{{asset('Back/img/brand/logo-maktabti.png')}}">


		<!-- Sweet Alert -->
		<link
		type="text/css" href="{{asset('Back/librairies/sweetalert2/dist/sweetalert2.min.css')}}" rel="stylesheet">

		<!-- Notyf -->
		<link
		type="text/css" href="{{asset('Back/librairies/notyf/notyf.min.css')}}" rel="stylesheet">

		<!-- Volt CSS -->
		<link
		type="text/css" href="{{asset('Back/css/volt.css')}}" rel="stylesheet">

		<!-- font awsome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

	</head>

	{% block body %}
		<main>

			<!-- Section -->
			<section>
				<div class="container">
					<br>
					<p class="text-center">
						<a href="{{path('index')}}" class="d-flex align-items-center justify-content-center">
							<svg class="icon icon-xs me-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
							</svg>
							Retour à la page d'acceuil
						</a>
					</p>
					<div class="row justify-content-center form-bg-image" data-background-lg="{{asset('Back/img/illustrations/signin.svg')}}">
						<div class="col-12 d-flex align-items-center justify-content-center">
							<div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
								<div class="text-center text-md-center mb-4 mt-md-0">
									<h1 class="mb-0 h3">Créer un Compte
									</h1>
								</div>
								{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
								{{ form_label(registrationForm.nom ) }}
								<div class="input-group mb-4">
									<span class="input-group-text">
										<i class="fas fa-user"></i>
									</span>
									{{ form_widget(registrationForm.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Votre Nom'}}) }}
								</div>
								{{ form_errors(registrationForm.nom) }}

								{{ form_label(registrationForm.prenom) }}
								<div class="input-group mb-4">
									<span class="input-group-text">
										<i class="fas fa-user"></i>
									</span>
									{{ form_widget(registrationForm.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Votre Prenom'}}) }}
								</div>
								{{ form_errors(registrationForm.prenom) }}

								{{ form_label(registrationForm.numTelephone) }}
								<div class="input-group mb-4">
									<span class="input-group-text">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fas fa-telephone-fill" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
										</svg>
									</span>
									{{ form_widget(registrationForm.numTelephone , { 'attr': {'class': 'form-control', 'placeholder': 'Votre numéro de telephone'}}) }}
								</div>
								{{ form_errors(registrationForm.numTelephone) }}

								{{ form_label(registrationForm.role) }}
								<div class="input-group mb-4">
									<span class="input-group-text">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button" viewbox="0 0 16 16">
											<path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
											<path d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
										</svg>
									</span>
									{{ form_widget(registrationForm.role) }}
								</div>
								{{ form_errors(registrationForm.role) }}

								{{ form_label(registrationForm.email) }}
								<div class="input-group mb-4">
									<span class="input-group-text">
										<svg class="icon icon-xs text-gray-600" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
											<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
										</svg>
									</span>
									{{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'example@company.com', 'id': 'email', 'autofocus': true} }) }}
								</div>
								{{ form_errors(registrationForm.email) }}

								{{ form_label(registrationForm.plainPassword) }}
								<div class="input-group mb-4">
									<span class="input-group-text" id="basic-addon2">
										<svg class="icon icon-xs text-gray-600" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
										</svg>
									</span>
									{{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un mot de passe'}}) }}
								</div>
								{{ form_errors(registrationForm.plainPassword) }}
								<br>
								{{ form_label(registrationForm.agreeTerms) }}
								{{ form_widget(registrationForm.agreeTerms) }}
								{{ form_errors(registrationForm.agreeTerms) }}
								<br>

								<button type="submit" class="btn btn-primary float-end" style="background-color:#00377E;">Créer Un Compte</button>
								{{ form_end(registrationForm) }}

							</div>
						</div>
					</div>


				</div>

			</section>
			<br>
		</main>

		<script src="{{asset('Back/librairies/@popperjs/core/dist/umd/popper.min.js')}}"></script>
		<script src="{{asset('Back/librairies/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		<!-- Vendor JS -->
		<script src="{{asset('Back/librairies/onscreen/dist/on-screen.umd.min.js')}}"></script>
		<!-- Slider -->
		<script src="{{asset('Back/librairies/nouislider/distribute/nouislider.min.js')}}"></script>
		<!-- Smooth scroll -->
		<script src="{{asset('Back/librairies/smooth-scroll/dist/smooth-scroll.polyfills.min.js')}}"></script>
		<!-- Charts -->
		<script src="{{asset('Back/librairies/chartist/dist/chartist.min.js')}}"></script>
		<script src="{{asset('Back/librairies/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js')}}"></script>
		<!-- Datepicker -->
		<script src="{{asset('Back/librairies/vanillajs-datepicker/dist/js/datepicker.min.js')}}"></script>
		<!-- Sweet Alerts 2 -->
		<script src="{{asset('Back/librairies/sweetalert2/dist/sweetalert2.all.min.js')}}"></script>
		<!-- Moment JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
		<!-- Vanilla JS Datepicker -->
		<script src="{{asset('Back/librairies/vanillajs-datepicker/dist/js/datepicker.min.js')}}"></script>
		<!-- Notyf -->
		<script src="{{asset('Back/librairies/notyf/notyf.min.js')}}"></script>
		<!-- Simplebar -->
		<script src="{{asset('Back/librairies/simplebar/dist/simplebar.min.js')}}"></script>
		<!-- Github buttons -->
		<script async defer src="https://buttons.github.io/buttons.js"></script>
		<!-- Volt JS -->
		<script src="{{asset('Back/js/volt.js')}}"></script>
	{% endblock %}


</html>
