{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{form_label(form.nom)}}
{{form_widget(form.nom)}}
{{form_errors(form.nom,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.prenom)}}
{{form_widget(form.prenom)}}
{{form_errors(form.prenom,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.email)}}
{{form_widget(form.email)}}
{{form_errors(form.email,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.motDePasse)}}
{{form_widget(form.motDePasse)}}
{{form_errors(form.motDePasse,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.numTelephone)}}
{{form_widget(form.numTelephone)}}
{{form_errors(form.numTelephone,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.role)}}
{{form_widget(form.role)}}
{{form_errors(form.role,{'attr': {'class': 'invalid-feedback'}})}}
<br>

<button class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
