{% extends 'baseBack.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
    	<div class="d-flex justify-content-between w-100 flex-wrap">
		<div class="mb-3 mb-lg-0">
			<h1>
				<span class="sidebar-icon">

					<img src="{{asset('Back/img/icons/user.png')}}" class="icon icon-s me-2" fill="currentColor" viewbox="0 0 20 20" class="card-img-top rounded-circle border-white" alt="Logout">

				</span>Liste des Utilisateurs</h1>

		</div>
		<div style="padding-top: 10px;">

			<a href="{{ path('app_utilisateur_new') }}" class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;">
				<i class="fas fa-plus" style="padding-right:3px"></i>
				Créer un nouveau</a>
		</div>
	</div>
	<br>
{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} alert-dismissible fade show">{{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}


	

	<div class="card border-0 shadow mb-4">
		<div class="card-body">
		<div class="table-responsive">
		<table class="table table-centered table-nowrap mb-0 rounded">
        <thead>
            <tr>
                <th class="border-0 rounded-start">Id Utilisateur</th>
                <th class="border-0">Nom</th>
                <th class="border-0">Prénom</th>
                <th class="border-0">Email</th>
                <th class="border-0">Numéro de Telephone</th>
                <th class="border-0">Role</th>
                <th class="border-0 rounded-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.idUtilisateur }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.numTelephone }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'idUtilisateur': utilisateur.idUtilisateur}) }}"><i class="fas fa-info-circle text-info"></i></a>
                    <a href="{{ path('app_utilisateur_edit', {'idUtilisateur': utilisateur.idUtilisateur}) }}"><i class="fas fa-edit text-warning"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
	</div>
	</div>

   
{% endblock %}
