{% extends 'baseBack.html.twig' %}

{% block title %}Livres
{% endblock %}


{% block body %}
	<div class="d-flex justify-content-between w-100 flex-wrap">
		<div class="mb-3 mb-lg-0">
			<h1>
				<span class="sidebar-icon">

					<img src="{{asset('Back/img/icons/book.png')}}" class="icon icon-s me-2" fill="currentColor" viewbox="0 0 20 20" class="card-img-top rounded-circle border-white" alt="Logout">

				</span>Liste des Livres</h1>

		</div>
		</div>
		<div class="d-flex justify-content-between w-100 flex-wrap">
		<div class="mb-3 mb-lg-0">
		<form action="{{ path('app_livre_recherche') }}" style="padding-top: 10px;" class="navbar-search form-inline">
		 <div class="input-group input-group-merge search-bar">
		<input placeholder="search" name ="q" class="form-control" >
		
		<button type ="submit" class="btn btn-primary">Rechercher</button>
		</div>
		</form>
		</div>

		<div style="padding-top: 10px;">

			<a href="{{ path('app_livre_new') }}" class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;">
				<i class="fas fa-plus" style="padding-right:3px"></i>
				créer un nouveau</a>
		</div>
	</div>
	<br>
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }} alert-dismissible fade show d-flex align-items-center">
				{% if type == 'success'%}
					<i class="fas fa-check-circle" style="padding-right: 10px"></i>
				{% elseif type == 'danger'%}
					<i class="fas fa-times-circle" style="padding-right: 10px"></i>
				{% endif %}
				<div>
					{{ message }}
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}

	<br>
	<div class="card border-0 shadow mb-4">
		<div class="d-flex justify-content-end" style="padding-top: 15px;padding-right: 25px;">
			<a href="{{ path('app_livre_download') }}" class="btn btn-danger d-inline-flex align-items-center">
				<i class="fas fa-file-pdf" style="padding-right:3px"></i>
				PDF</a>
		</div>
		<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6404e28ea0932a001aed0d3f&product=inline-share-buttons&source=platform" async="async"></script>
		<!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
		
		
		
		<div class="card-body">
			<div class="table-responsive" id="myTable">
				<table class="table table-centered table-nowrap mb-0 rounded">
					<thead class="thead-light">
						<tr>
							<th class="border-0 rounded-start">#</th>
							<th class="border-0">Titre</th>
							<th class="border-0">DatePub</th>
							<th class="border-0">Langue</th>
							<th class="border-0">Isbn</th>
							<th class="border-0">Auteur</th>
							<th class="border-0">Prix</th>
							<th class="border-0">Image</th>
							<th class="border-0 rounded-end">actions</th>
						</tr>
					</thead>
					<tbody>
						{% for livre in livres %}
							<tr>
								<td>{{ livre.idLivre }}</td>
								<td>{{ livre.titre }}</td>
								<td>{{ livre.datePub ? livre.datePub|date('Y-m-d') : '' }}</td>
								<td>{{ livre.langue }}</td>
								<td>{{ livre.isbn }}</td>
								<td>{{ livre.idauteur.nom }}
									{{ livre.idauteur.prenom }}</td>
								<td>{{ livre.prix }}</td>
								<td><img src="data:image/jpeg;base64,{{ livre.image|blobToBase64 }}" width="50" height="50" class="card-img-top" alt="..."></td>
								<td>
									<a href="{{ path('app_livre_show', {'idLivre': livre.idLivre}) }}">
										<i class="fas fa-info-circle text-info"></i>
									</a>
									<a href="{{ path('app_livre_edit', {'idLivre': livre.idLivre}) }}">
										<i class="fas fa-edit text-warning"></i>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">Aucun enregistrement trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock %}
