{% extends 'baseBack.html.twig' %}

{% block title %}Détails Compétition
{% endblock %}

{% block body %}
	<a href="{{ path('app_competition_index') }}">
		<i class="fas fa-arrow-left"></i>
	</a>
	<div class="d-flex justify-content-between w-100 flex-wrap">
		<div class="mb-3 mb-lg-0">
			<h1>
				<span class="sidebar-icon">

					<img src="{{asset('Back/img/icons/Event.png')}}" class="icon icon-s me-2" fill="currentColor" viewbox="0 0 20 20" class="card-img-top rounded-circle border-white" alt="Logout">

				</span>Compétition :
				{{ competition.nom }}</h1>

		</div>
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th class="text-primary fw-bold">Nom</th>
				<td>{{ competition.nom }}</td>
			</tr>
			<tr>
				<th class="text-primary fw-bold">Recompense</th>
				<td>{{ competition.recompense }}</td>
			</tr>
			<tr>
				<th class="text-primary fw-bold">Image</th>
				{% if competition.image is not null %}
					<td><img src="{{ asset('/Photos/competitions/' ~ competition.image)}}"  class="card-img-top" alt="..."></td>
				{% else %}
					<td><img src="{{asset('Front/images/competition/quiz.png')}}"  class="card-img-top" alt="..."></td>
				{% endif %}
			</tr>
			<tr>
				<th class="text-primary fw-bold">LienCompetition</th>
				<td>{{ competition.lienCompetition }}</td>
			</tr>
			<tr>
				<th class="text-primary fw-bold">DateDebut</th>
				<td>{{ competition.dateDebut ? competition.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th class="text-primary fw-bold">DateFin</th>
				<td>{{ competition.dateFin ? competition.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-2">
			<a href="{{ path('app_competition_edit', {'idCompetition': competition.idCompetition}) }}" class="btn btn-warning d-inline-flex align-items-center">
				<i class="fas fa-edit" style="padding-right:3px"></i>Modifier</a>
		</div>
		<div class="col-md-2">
			{{ include('competition/_delete_form.html.twig') }}
		</div>
	</div>

{% endblock %}
