<!DOCTYPE html>
<html>
	<head>
		<title>Maktabti - 
			{% block title %}{% endblock %}
		</title>

		<link
		rel="stylesheet" href="{{ asset('Front/css/app.css') }}">
		<!-- favicon -->
		<link
		rel="shortcut icon" href="{{asset('Front/images/logo/logo-maktabti.png')}}">
		<!-- Bootstrap-->
		<link
		rel="stylesheet" href="{{asset('Front/css/bootstrap/bootstrap.min.css')}}">
		<!-- font awsome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<!-- owel-carousel css -->
		<link rel="stylesheet" href="{{asset('Front/css/owel-carousel/owl.carousel.min.css')}}">
		<link
		rel="stylesheet" href="{{asset('Front/css/owel-carousel/owl.theme.default.css')}}">
		<!-- Responsive Tabs-->
		<link
		rel="stylesheet" href="{{asset('Front/css/responsive-tab/responsive-tabs.css')}}">
		<!-- Magnific Popup-->
		<link
		rel="stylesheet" href="{{asset('Front/css/magnificpopup/magnific-popup.css')}}">
		<!-- Animate css-->
		<link
		rel="stylesheet" href="{{asset('Front/css/animate_css/animate.css')}}">
		<!-- Responsive css-->
		<link
		rel="stylesheet" href="{{asset('Front/css/responsiveCss.css')}}">
		<!-- Costom css-->
		<link rel="stylesheet" href="{{asset('Front/css/style.css')}}">

	</head>
	<body>
		<!--  Preloader  -->
		<div id="preloader">
			<div id="status">
				&nbsp;
			</div>
		</div>
		<!-- End Preloader  -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
				<a class="navbar-brand" href="{{path('index')}}"><img src="{{asset('Front/images/logo/maktabti.png')}}" height="60" width="150" ></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav" style="padding-top:10px">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-top:6px">
						<li class="nav-item">
							<a class="nav-link" {% if app.request.attributes.get('_route') == 'index'  %}style="color:#00377E;" {% else %}style="color:#D4A373;"{% endif %}  href="{{path('index')}}">
								<h6>
									<b>Acceuil</b>
								</h6>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" {% if app.request.attributes.get('_route') == 'app_livre_front'  %}style="color:#00377E;" {% else %}style="color:#D4A373;"{% endif %}  href="{{path('app_livre_front')}}">
								<h6>
									<b>Livres</b>
								</h6>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  {% if app.request.attributes.get('_route') == 'app_competition_front'  %}style="color:#00377E;" {% else %}style="color:#D4A373;"{% endif %} href="{{path('app_competition_front')}}">
								<h6>
									<b>Compétitions</b>
								</h6>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" {% if app.request.attributes.get('_route') == 'app_evenement_front'  %}style="color:#00377E;" {% else %}style="color:#D4A373;"{% endif %} href="{{path('app_evenement_front')}}">
								<h6>
									<b>Evénements</b>
								</h6>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  style="color:#D4A373;" href="">
								<h6>
									<b>Réclamation</b>
								</h6>
							</a>
						</li>
					</ul>


						{% if app.user %}
						<ul class="d-flex ml-auto navbar-nav">
					
						<div class="dropdown nav-item" >
 		 				<button style="background-color: transparent" class="nav-link btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<a class="nav-link" style="color:#D4A373;" >
							<h6>
							<img src="{{asset('Back/img/icons/account.png')}}"height="25" width="25">
								{{app.user.nom}} {{app.user.prenom}} 
							</h6>
							</a>
  						</button>
						<div style="background-color: transparent" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a  class="nav-link" style="color:#D4A373;" href="{{ path('app_fidelite_front') }}"><i class="far fa-id-card"></i> Fidelité</a>
						<a  class="nav-link" style="color:#D4A373;" href="{{ path('app_offre_front') }}"><i class="fas fa-percent"></i> Offre</a>
									 <div class="dropdown-divider"></div>		
						<a  class="nav-link" style="color:#D4A373;" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i>
						Déconnecter
						</a>
						 							
						</div>
						</div>


						</ul>
						{% else %}
						<ul class="d-flex ml-auto navbar-nav">
						<li class="nav-item">
							<a class="nav-link" style="color:#D4A373;" href="#">
								<img src="{{asset('Front/images/home/paniers.png')}}" height="25" width="25">
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:#D4A373;" href="{{path('app_register')}}">
								<h6>
									<b>S'inscrire</b>
								</h6>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:#D4A373;" href="{{path('app_login')}}">
								<h6>
									<b>Se connecter</b>
								</h6>
							</a>
						</li>
						</ul>
						{% endif %}
				</div>

			</nav>
		</header>
		{% block body %}{% endblock %}


		<!-- Footer-->
		<footer class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>Copyright &copy; 2023 
							<img src="{{asset('Front/images/logo/maktabti.png')}}" height="30" width="60">
						
						| made with <i class="fas fa-heart text-danger"></i> by GenesisTeam<img src="{{asset('Front/images/logo/logo-genesis.png')}}" height="30" width="30"></p>
					</div>
				</div>
			</div>
			<!-- Back to top-->
			<a href="#home" class="btn btn-sm btn-yellow btn-back-to-top  smooth-scroll" title="Home" id="back-to-top">
				<i class="fas fa-angle-up"></i>
			</a>
		</footer>
		<!-- End Footer-->


		<script src="{{ asset('Front/js/app.js') }}"></script>
		<!-- jquery -->
		<script src="{{asset('Front/js/jquery/jquery.js')}}"></script>
		<!-- Bootstrap -->
		<script src="{{asset('Front/js/bootstrap/bootstrap.min.js')}}"></script>
		<!-- owel-carousel js -->
		<script src="{{asset('Front/js/owel-carousel/owl.carousel.min.js')}}"></script>
		<!-- Way Point-->
		<script src="{{asset('Front/js/way-point/jquery.waypoints.min.js')}}"></script>
		<!-- Responsive Tabs-->
		<script src="{{asset('Front/js/responsive-tab/jquery.responsiveTabs.min.js')}}"></script>
		<!-- Isotop -->
		<script src="{{asset('Front/js/isotop/isotope.pkgd.min.js')}}"></script>
		<!-- MAgnific Popup-->
		<script src="{{asset('Front/js/magnificPopup/jquery.magnific-popup.min.js')}}"></script>
		<!-- Counter-->
		<script src="{{asset('Front/js/counter/jquery.counterup.js')}}"></script>
		<!-- easing Pluging-->
		<script src="{{asset('Front/js/easing-pluging/jquery.easing.1.3.js')}}"></script>
		<!-- Wow js-->
		<script src="{{asset('Front/js/Wow/wow.min.js')}}"></script>
		<!-- Costom js -->
		<script src="{{asset('Front/js/script.js')}}"></script>

	</body>
</html>
