{% extends 'baseFront.html.twig' %}


{% block title %}Compétitions
{% endblock %}

{% block body %}
	<section
		id="home">
		<!-- Background image -->
		<video id="home_vedio_bg" poster="{{asset('Front/images/competition/competition-img.jpg')}}" autoplay loop muted>
			<source src="{{asset('Front/images/competition/video/comp.mp4')}}" width="200" height="150" type="video/mp4"/>
		</video>
		<!-- Overlay -->
		<div id="home_overlay"></div>
		<!-- Home content -->
		<div id="home-content">
			<div id="content-inner" class="text-center">
				<div id="home-heading">
					<h1 id="home-heading-1">
						Découvrir
					</h1>
					<br>
					<h1 id="home-heading-2">
						Nos
						<span>Compétitions</span>
					</h1>
				</div>
				<div id="home-text">
					<p>participez aux compétitions et gagner des cadeaux
					</p>
				</div>
				<!-- Arrow down-->
				<a href="#competitions" title="About" class="smooth-scroll" id="arrow-down">
					<i class="fas fa-angle-down"></i>
				</a>
			</div>
		</div>
	</section>
	<!-- End Home  -->
	<section id="competitions" style="background-color:#e9ecef">
		<div class="row">
			<div class="card-deck" style="padding-top: 15px;padding-left:15px;padding-right: 15px">
				{% for competition in competitions %}
					<div class="col-4 justify-content-center">
						<div class="card border-0 shadow mb-4">


							<img src="{{asset('Front/images/competition/quiz.png')}}" class="card-img-top" style="border-radius: 10%;padding-top:15px;padding-left:15px;padding-right:15px" alt="...">

							<div class="card-body">
								<h5 class="card-title">{{competition.nom}}</h5>
								<p class="card-text">
									<i class="fas fa-book-open"></i>
									{{competition.idlivre.titre}}</p>
								<p class="card-text">
									<i class="fas fa-calendar-alt"></i>
									De
									{{ competition.dateDebut ? competition.dateDebut|date('Y-m-d') : '' }}
									à
									{{ competition.dateFin ? competition.dateFin|date('Y-m-d') : '' }}</p>
								<p class="card-text">
									<i class="fas fa-gift"></i>
									{{competition.recompense}}</p>

								<div class="d-flex justify-content-between w-100 flex-wrap">
									<div>
										{% if competition.dateDebut > date('now') or competition.dateFin < date('now') %}
											<span class="badge bg-danger" style="color:white">Compétition fermée</span>
										{% else %}

											<button type="button" class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;" {% if 3 in competition.listePaticipants|json_encode %} data-toggle="modal" data-target="#modal-notification" {% else %} data-toggle="modal" data-target="#confirmModal" {% endif %}>
												<i class="fas fa-plus" style="padding-right:3px"></i>
												Participer
											</button>


											<!-- Modal Content -->
											<div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
												<div class="modal-dialog modal-warning modal-dialog-centered" role="document">
													<div class="modal-content bg-gradient-warning" style="background-color:#d7e3fc">
														<div class="modal-header">
															<p class="modal-title text-gray-200" id="modal-title-notification"> <i class="fas fa-info-circle" style="padding-right:5px"></i>Participation deja passé</p>
														</div>
														<div class="modal-body text-blue">
															<div class="py-3 text-center">
																<span class="modal-icon"></span>
																<h2 class="h4 modal-title my-3">Vous avez déjà participé à cette compétition !</h2>
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Fermer</button>
														</div>
													</div>
												</div>
											</div>
											<!-- End of Modal Content -->


											<!-- Modal Content -->
											<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h2 class="h6 modal-title"> <i class="fas fa-check-circle" style="padding-right:5px"></i>Confirmation de participation</h2>

														</div>
														<div class="modal-body">
															<p>Êtes-vous sûr de vouloir participer à cette compétition ?</p>
															<p>si vous cliquer confirmer, vous etes invité a répoondre a des questions concernant le livre
															</p>
															<p>La participation est unique donc refléchissez bien avant de valider</p>
														</div>
														<div class="modal-footer">
															<a href="{{path('app_competition_quiz_front', {'idCompetition': competition.idCompetition})}}" class="btn btn-success d-inline-flex align-items-center">
																	
																	Confirmer
																</a>
															<button type="button" class="btn text-gray-600 ms-auto" data-dismiss="modal">Annuler
																
															</button>
														</div>
													</div>
												</div>
											</div>
											<!-- End of Modal Content -->

										{% endif %}
									</div>
									<div>
										<a href="{{ path('app_competition_show_front', {'idCompetition': competition.idCompetition}) }}">
											<i class="fas fa-info-circle text-info"></i>
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				{% else %}

					<h1>Aucun competition trouvé</h1>

				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
