{% extends 'baseFront.html.twig' %}


{% block title %}Compétitions
{% endblock %}

{% block body %}
	<section
		id="home">
		<!-- Background image -->
		<video id="home_vedio_bg" poster="{{asset('Front/images/competition/competition-img.jpg')}}" autoplay loop muted>
			<source src="{{asset('Front/images/competition/video/comp.mp4')}}" width="200" height="150" type="video/mp4"/>
		</video>
		<!-- Overlay -->
		<div id="home_overlay"></div>
		<!-- Home content -->
		<div id="home-content">
			<div id="content-inner" class="text-center">
				<div id="home-heading">
					<h1 id="home-heading-1">
						Découvrir
					</h1>
					<br>
					<h1 id="home-heading-2">
						Nos
						<span>Compétitions</span>
					</h1>
				</div>
				<div id="home-text">
					<p>participez aux compétitions et gagner des cadeaux
					</p>
				</div>
				<!-- Arrow down-->
				<a href="#competitions" title="About" class="smooth-scroll" id="arrow-down">
					<i class="fas fa-angle-down"></i>
				</a>
			</div>
		</div>
	</section>
	<!-- End Home  -->
	<section id="competitions" style="background-color:#e9ecef">
		<div class="row">
			<div class="card-deck" style="padding-top: 15px;padding-left:15px;padding-right: 15px">
				{% for competition in competitions %}
					<div class="col-4 justify-content-center">
						<div class="card border-0 shadow mb-4">


							<img src="{{asset('Front/images/competition/quiz.png')}}" class="card-img-top" style="border-radius: 10%;padding-top:15px;padding-left:15px;padding-right:15px" alt="...">

							<div class="card-body">
								<h5 class="card-title">{{competition.nom}}</h5>
								<p class="card-text">
									<i class="fas fa-book-open"></i>
									{{competition.idlivre.titre}}</p>
								<p class="card-text">
									<i class="fas fa-calendar-alt"></i>
									De
									{{ competition.dateDebut ? competition.dateDebut|date('Y-m-d') : '' }}
									à
									{{ competition.dateFin ? competition.dateFin|date('Y-m-d') : '' }}</p>
								<p class="card-text">
									<i class="fas fa-gift"></i>
									{{competition.recompense}}</p>

								{% if competition.dateDebut > date('now') or competition.dateFin < date('now') %}
									<button class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;" disabled>
										<i class="fas fa-plus" style="padding-right:3px"></i>
										Participer
									</button>
								{% else %}
									<a href="#" class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;">
										<i class="fas fa-plus" style="padding-right:3px"></i>
										Participer
									</a>
								{% endif %}
							</div>


						</div>
					</div>
				{% else %}

					<h1>Aucun competition trouvé</h1>

				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
