{% extends 'baseFront.html.twig' %}

{% block title %}Détails Compétition
{% endblock %}

{% block body %}
	<br><br>
	<div class="d-flex justify-content-between w-100 flex-wrap">
		<div class="mb-3 mb-lg-0">
			<h1>
				<span class="sidebar-icon">

					<img src="{{asset('Back/img/icons/Event.png')}}" width="50" height="50" class="icon icon-s me-2" fill="currentColor" viewbox="0 0 20 20" class="card-img-top rounded-circle border-white" alt="Logout">

				</span>Compétition :
				{{ competition.nom }}</h1>

		</div>
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th class="text-info fw-bold">Nom</th>
				<td>{{ competition.nom }}</td>
			</tr>
			<tr>
				<th class="text-info fw-bold">Livre</th>
				<td>{{ competition.idlivre.titre }}</td>
			</tr>
			<tr>
				<th class="text-info fw-bold">Auteur de Livre</th>
				<td>{{ competition.idlivre.idauteur.nom }}
					{{ competition.idlivre.idauteur.prenom }}</td>
			</tr>
			<tr>
				<th class="text-info fw-bold">Recompense</th>
				<td>{{ competition.recompense }}</td>
			</tr>
			<tr>
				<th class="text-info fw-bold">LienCompetition</th>
				<td>{{ competition.lienCompetition }}</td>
			</tr>
			<tr>
				<th class="text-info fw-bold">DateDebut</th>
				<td>{{ competition.dateDebut ? competition.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th class="text-info fw-bold">DateFin</th>
				<td>{{ competition.dateFin ? competition.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>
	{% if competition.dateDebut > date('now') or competition.dateFin < date('now') %}
		<div style="padding-left:10px;padding-bottom:10px">
			<span class="badge bg-danger" style="color:white;">Compétition fermée</span>
		</div>
	{% else %}
		<div style="padding-left:10px;padding-bottom:10px">
			<button type="button" class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;" {% if app.user.idUtilisateur in competition.listePaticipants|json_encode %} data-toggle="modal" data-target="#modal-notification" {% else %} data-toggle="modal" data-target="#confirmModal{{competition.idCompetition}}" {% endif %}>
				<i class="fas fa-plus" style="padding-right:3px"></i>
				Participer
			</button>
		</div>

		<!-- Modal Content -->
		<div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
			<div class="modal-dialog modal-warning" role="document">
				<div class="modal-content bg-gradient-warning" style="background-color:#d7e3fc">
					<div class="modal-header">
						<p class="modal-title text-gray-200" id="modal-title-notification">
							<i class="fas fa-info-circle" style="padding-right:5px"></i>Participation deja passé</p>
					</div>
					<div class="modal-body text-blue">
						<div class="py-3 text-center">
							<span class="modal-icon"></span>
							<h2 class="h4 modal-title my-3">Vous avez déjà participé à cette compétition !</h2>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Modal Content -->


		<!-- Modal Content -->
		<div class="modal fade" id="confirmModal{{competition.idCompetition}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="h6 modal-title">
							<i class="fas fa-check-circle" style="padding-right:5px"></i>Confirmation de participation</h2>

					</div>
					<div class="modal-body">
						<p>Êtes-vous sûr de vouloir participer à cette compétition ?</p>
						<p>si vous cliquer confirmer, vous etes invité a répoondre a des questions concernant le livre
						</p>
						<p>La participation est unique donc refléchissez bien avant de valider</p>
					</div>
					<div class="modal-footer">
						<a href="{{path('app_competition_quiz_front', {'idCompetition': competition.idCompetition})}}" class="btn btn-success d-inline-flex align-items-center">

							Confirmer
						</a>
						<button type="button" class="btn text-gray-600 ms-auto" data-dismiss="modal">Annuler

						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Modal Content -->
	{% endif %}

{% endblock %}
