{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{form_label(form.pourcentageSolde)}}
{{form_widget(form.pourcentageSolde)}}
{{form_errors(form.pourcentageSolde,{'attr': {'class': 'invalid-feedback'}})}}

<br>
{{form_label(form.idLivre)}}
{{form_widget(form.idLivre)}}
{{form_errors(form.idLivre,{'attr': {'class': 'invalid-feedback'}})}}
<br>
    <button class="btn btn-primary d-inline-flex align-items-center" id="submit_button" style="background-color:#00377E;">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
