{% extends 'baseFront.html.twig' %}

{% block title %}Evenements
{% endblock %}

{% block body %}
	<section
		id="home">
		<!-- Background image -->
		<video id="home_vedio_bg" poster="{{asset('Front/images/evenement/video/camp.mp4')}}" autoplay loop muted>
			<source src="{{asset('Front/images/evenement/video/camp.mp4')}}" width="200" height="150" type="video/mp4"/>

		</video>
		<!-- Overlay -->
		<div id="home_overlay"></div>
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }} alert-dismissible fade show">{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}
		<!-- Home content -->
		<div id="home-content">
			<div id="content-inner" class="text-center">
				<div id="home-heading">
					<h1 id="home-heading-1">
						Découvrir
					</h1>
					<br>
					<h1 id="home-heading-2">
						Nos
						<span>Evenements</span>
					</h1>
				</div>
				<div id="home-text">
					<p>consulter nos evenements et reserver vos tickets
					</p>
				</div>
				<!-- Arrow down-->
				<a href="#evenements" title="About" class="smooth-scroll" id="arrow-down">
					<i class="fas fa-angle-down"></i>
				</a>
			</div>
		</div>
	</section>
	<!-- End Home  -->
	<section id="evenements" style="background-color:#e9ecef">
		<div class="row">
			<div class="card-deck" style="padding-top: 15px;padding-left:15px;padding-right: 15px">
				{% for evenement in evenements %}
					<div class="col-4">
						<div class="card border-0 shadow mb-4">


							<img src="data:image/jpeg;base64,{{ evenement.image|blobToBase64 }}" class="card-img-top" style="border-radius: 10%;padding-top:15px;padding-left:15px;padding-right:15px" alt="...">


							<div class="card-body">
								<h5 class="card-title">{{evenement.nom}}</h5>
								<p class="card-text">
									<i class="fas fa-book-open"></i>
									{{evenement.idlivre.titre}}</p>
								<p class="card-text">
									<i class="fas fa-calendar-alt"></i>
									{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</p>
								<p class="card-text">
									<i class="fas fa-clock"></i>
									{{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</p>


							</div>
							<div class="card-footer">
								<div class="d-flex justify-content-between w-100 flex-wrap">
									<div>

										{% if evenement.date <  date('now') %}
											<span class="badge bg-danger" style="color:white">Evenement fermée</span>
										{% elseif evenement.nbticket == 0 %}
										<span class="badge bg-danger" style="color:white">Ticket hors stock</span>
										{% else  %}
											<a href="{% if app.user %} {{ path('reservation',{'idEvenement' : evenement.idevenement})}} {% else  %} {{ path('app_login')}} {% endif %}" class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;">
												<i class="fas fa-plus" style="padding-right:3px"></i>
												Reserver
											</a>
										{% endif %}


									</div>
									
									<div>
										<a href="{{ path('app_evenement_show_front', {'idEvenement': evenement.idevenement}) }}">
											<i class="fas fa-info-circle text-info"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}

					<h1>Aucun evenement trouvé</h1>

				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
