<!DOCTYPE html>
<html>
	<head>
		<title>Maktabti - Ticket</title>
		<style>
			body {
				background-color: #f7f7f7;
				font-family: Arial, sans-serif;
			}
			.ticket {
				background-color: white;
				border: 2px solid #333;
				border-radius: 10px;
				padding: 20px;
				margin: 50px auto;
				max-width: 600px;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			}
			h1,
			h2,
			p {
				margin: 0;
				padding: 0;
			}
			h1 {
				font-size: 36px;
				color: #333;
				margin-bottom: 10px;
			}
			h2 {
				font-size: 24px;
				color: #666;
				margin-bottom: 20px;
			}
			p {
				font-size: 18px;
				color: #999;
				margin-bottom: 10px;
			}
			.qr-code {
				display: block;
				margin: 50px auto;
				max-width: 300px;
			}
		</style>
	</head>
	<body>
	{% for i in range(1,nbticket) %}
		<section class="ticket">
			<img src="{{ img }}" height="30" width="60">
			<h1>{{ evenement.nom }}</h1>
			<h2>{{ evenement.lieu }}</h2>
			<p>{{ evenement.date|date('Y-m-d') ~ ' ' ~ evenement.heure|date('H:i:s') }}</p>
			<!-- Add more event information here -->
			{# <img class="qr-code" src="data:image/png;base64,{{ qr_code }}" alt="QR Code"> #}
		</section>
		<br>
		<br>
		
	{% endfor %}
		
	</body>
</html>
